body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.menu-principal {
    width: 100%;
    background-color: grey;
    height: 60px;
}

.header-1 {
    background-color: gray;
    height: 60px;
}

.logo {
    padding: 1px;
    width: 70%;
    float: left;
}

.logo img {
    width: 50%;
}

.redes-sociais ul li {
    margin-left: 15px;
    display: block;
    float: right;
    list-style: none;
    
}

.redes-sociais img {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

.redes-sociais {
    margin-left: 80px;
    width: 20%;
    float: left;
}

.header-2 {
    background-color: #fff;
    width: 980px;
    margin: 0 auto;
    padding: 10px;
}

.menu-urls {
    height: 80px;
    border-bottom: 3px solid black;
}

.menu-secundario ul li {
    display: inline-block;
    margin-left: 15px;
}

.menu-secundario ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.menu-secundario {
    width: 80%;
    float: left;
}

.busca {
    text-align: center;
    width: 20%;
    float: right;
}

.busca input {
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 92%;
    background-size: 20px;
    border: 2px solid #ccc;
    height: 25px;
    padding: 7px;
    width: 180px;
    margin-top: 5px;
}

.main-principal {
    width: 100%;
    float: left;
    position: relative;
}