body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.menu-principal {
    width: 100%;
    background-color: grey;
    height: 60px;
}

.header-1 {
    background-color: gray;
    height: 60px;
}

.logo {
    padding: 1px;
    width: 70%;
    float: left;
}

.logo img {
    width: 50%;
 
}

.redes-sociais ul li {
    margin-left: 15px;
    display: block;
    float: right;
    list-style: none;
    
}

.redes-sociais img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.redes-sociais {
    width: 20%;
    float: left;
}

.header-2 {
    background-color: beige;
    width: 100%;
    border-bottom: 3px solid black;
}

.menu-secundario ul li {
    display: inline-block;
}

.menu-secundario ul li a {
    color: bisque;
}

